:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --white-text-bg-color: #ffffff;
  --link-text-color: #2196f3;
  --bg-color-footer: #2f303a;
  --btn-portfolio-bgc-color: #f5f4fa;
  --border-color-capabilities: #ececec;
  --border-color-port-list: #eeeeee;
}

body {
  background-color: var(--white-text-bg-color);
  color: var(--main-text-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}
ul,
p,
h2,
h3,
a {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header */
.header {
  border-bottom: 1px solid var(--border-color-capabilities);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.address-list {
  display: flex;
  margin-left: auto;
}
.address-item + .adress-item {
  margin-left: 50px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  font-style: normal;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link:hover,
.link:focus {
  color: var(--link-text-color);
  text-decoration: none;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  text-decoration: none;
  color: var(--link-text-color);

  margin-right: 93px;
}
.web-studio .studio {
  color: var(--title-text-color);
}
.address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
}
.address.top:hover,
.address.top:focus {
  color: var(--link-text-color);
}
.address.top {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  color: var(--link-text-color);
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}
.hero-division {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.41;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-bg-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.button {
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  color: var(--white-text-bg-color);
  background-color: var(--link-text-color);

  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: 2px solid var(--link-text-color);
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* features */
.features {
  padding-top: 102px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
  text-align: left;
}
.features-item + .features-item {
  margin-left: 30px;
}
.features .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
/* ==========occupation ============*/
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);

  text-align: center;
  margin-bottom: 50px;
}
.occupation {
  padding-bottom: 92px;
}
.occupation-list {
  display: flex;
}
.occupation-list-item {
  width: 370px;
  height: 294px;
}
.occupation-list-item + .occupation-list-item {
  margin-left: 30px;
}
/* ==============our team ===============*/

.our-team {
  padding-top: 92px;
  padding-bottom: 92px;
  background-color: var(--btn-portfolio-bgc-color);
}
.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  text-align: center;

  background-color: var(--white-text-bg-color);
}

.name-jobe-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);

  display: inline-block;
  margin-bottom: 10px;
}
.job {
  font-size: 16px;
  line-height: 1.19;
}
.our-team-member {
  display: flex;
}
.team-list + .team-list {
  margin-left: 30px;
}
/* footer */
.footer {
  background-color: var(--bg-color-footer);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .studio {
  color: var(--white-text-bg-color);
}
.address.map {
  color: var(--white-text-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  display: block;
  margin-bottom: 9px;
}
.footer .web-studio {
  display: inline-block;
  margin-bottom: 9px;
}
.address.mail {
  display: inline-block;
  margin-bottom: 9px;
}

/* portfolio page */
.container.gallery-menu-container {
  padding-top: 92px;
  padding-bottom: 92px;
}
.capabilities-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.capabilities-item {
  margin-left: 8px;
}
.btn {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--btn-portfolio-bgc-color);
}
.btn:hover,
.btn:focus {
  color: var(--white-text-bg-color);
  background-color: var(--link-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.port-link {
  text-decoration: none;
  display: block;
}
.port-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-text-color);
}
.port-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
.port-list {
  border: 1px solid var(--border-color-port-list);
  width: 370px;
  margin: 15px;
}
.port-list:nth-child(n + 7) {
  margin-bottom: 0;
}
.gallery-title-text {
  margin: 0;
  padding: 20px 24px;
}
